form {
    width: 25%;
    margin-left: 1%;
    border-radius: 25px;
    padding: 1% 1% 1% 1%;
    background-color: grey;
    float: left;
    display: table-row;
}

#minerals, #components {
    margin-left: 1%;
    float: left;
    display: table-row;
    border-radius: 25px;
}

.panel {
    background-color: grey;
}

td {
    color: white;;
}

caption {
    color: black;
    text-align: center;
    font-weight: bold;
}

