form {
    width: 25%;
    margin-left: 1%;
    border-radius: 25px;
    padding: 1% 1% 1% 1%;
    background-color: grey;
    float: left;
    display: table-row;
}

#results {
    margin-left: 1%;
    float: left;
    display: table-row;
    border-radius: 25px;
}
.panel {
    background-color: grey;
}

td {
    color: white;;
}

caption {
    color: black;
    text-align: center;
    font-weight: bold;
}

.mats_table{
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 25px;
    background-color: grey;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
