{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/index/index.css') }}">
{% endblock %}
{% block body %}
    <div id="wrapper">
        <div id="container">

        </div>
    </div>
{% endblock %}

