body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    color: wheat;
    font-size: -webkit-xxx-large;
    font-weight: bold;
}

.topLinks {
    width: 100%;
}
nav {
    text-align: center;
}
nav ul ul {
    display: none;
    z-index: 999999;
}

nav ul li:hover > ul {
    display: block;
}

nav ul {
    background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%);
    box-shadow: 0 0 9px rgba(0,0,0,0.15);
    list-style: none;
    position: relative;
    display: flex;
    justify-content: center;
}

nav li {
    display: table-cell;
}
nav ul:after {
    content: ""; clear: both; display: block;
}

nav ul li {
    float: left;
}

nav ul li:hover {
    background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
}

nav ul li:hover a {
    color: #fff;
}

nav ul li a {
    display: block; padding: 25px 40px;
    color: #757575; text-decoration: none;
}

nav ul ul {
    background: #5f6975; border-radius: 0; padding: 0;
    position: absolute; top: 100%;
}

nav ul ul li {
    float: none;
    border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a; position: relative;
}

nav ul ul li a {
    padding: 15px 40px;
    color: #fff;
}

nav ul ul li a:hover {
    background: #4b545f;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
}

.footer a {
    font-weight: bold;
}